<section class="step-1">
  <h3 class="font-source-sans">Upload a portrait pic to be baked by our Pancake Selfie Maker.</h3> 
  <p class="lead">For best results, use a pic with only one face, ideally with a clear background.</p>

  <div class="plugin-wrapper">
    <div class="state-wrapper">
      <div class="state state-intro">
        <h3>Where do you want to upload from?</h3>
        <br />

        <a href="#" class="btn btn-default btn-block js-pick-webcam hidden-xs">Webcam</a>
        <a href="#" class="btn btn-default btn-block js-pick-facebook">Facebook</a>
        <a href="#" class="btn btn-default btn-block js-pick-instagram">Instagram</a>
        <a href="#" class="btn btn-default btn-block js-pick-computer">
          <input type="file" name="file">
          <span class="hidden-xs">Computer</span>
          <span class="visible-xs">Device</span>
        </a>
      </div>

      <div class="state state-pick-webcam">
        <div class="wrapper">
          <p class="text-muted helper">Please grant access to your webcam.</p>
          <div id="webcam" class="frame"></div>
        </div>

        <a href="#" class="btn btn-primary btn-large js-webcam-capture">Capture</a>
      </div>

      <div class="state state-pick-facebook"></div>

      <div class="state state-pick-instagram"></div>

      <div class="state state-face-selector">
        <h3>We've found multiple faces in your photo</h3>
        <p class="lead">Click the one which is you.</p>
        <div class="faces"></div>
      </div>
      
      <div class="state state-loading">
        <h3>Loading...</h3>
        <br />
        <img src="/img/loading.jpg">
      </div>
    </div>
  </div>
</section>

<section class="step-2">
  <p class="lead">Step 3: Cooked!</p>
</section>