<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Pancake Face Prototype</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
  </head>

  <body>
    <div class="container">
      <h1 class="page-header">Tefal</h1>

      <section class="loading">
        <p class="lead">And the BAFTA for worst loading animation goes to...</p>
        <img src="/img/loading.jpg">
      </section>
      
      <section class="intro">
        <p class="lead">Step 1: Upload Your Image</p> 

        <a href="#" class="btn btn-default js-pick-webcam">Webcam</a>
        <a href="#" class="btn btn-default js-pick-facebook">Facebook</a>
        <a href="#" class="btn btn-default js-pick-instagram">Instagram</a>
        <a href="#" class="btn btn-default js-pick-computer" style="position: relative; overflow: hidden;">
          <input type="file" name="file" style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; opacity: 0;">
          Computer
        </a>
      </section>

      <section class="pick-webcam">
        <div class="wrapper">
          <p class="text-muted helper">Please grant access to your webcam.</p>
          <div id="webcam" class="frame"></div>
        </div>

        <a href="#" class="btn btn-primary btn-large webcam-capture">Capture</a>
      </section>

      <section class="pick-facebook"></section>
      
      <section class="pick-instagram"></section>

      <section class="face-selector">
        <p class="lead">Step 2: Select Your Face</p>
        <div class="faces"></div>
      </div>

      <section class="result">
        <p class="lead">Step 3: Cooked!</p>
      </section>
    </div>

    <script>
    var Pancake = {
      Config: {
        facebookAppId: '685230378194888'
      }
    }
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.2/jquery.fileupload.js"></script>
    <script src="//connect.facebook.net/en_GB/all.js"></script>
    <script src="/js/vendor/getUserMedia.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>