<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Pancake Face Prototype</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
  </head>

  <body>
    <div class="container">
      <section class="loading">
        <p class="lead">And the BAFTA for worst loading animation goes to...</p>
        <img src="/img/loading.jpg">
      </section>
      
      <section class="upload">
        <p class="lead">Step 1: Upload Your Image</p> 
        <div id="webcam"></div>
        <a href="#" class="btn btn-primary btn-large webcam-capture">Capture</a>
      </section>

      <section class="face-selector">
        <p class="lead">Step 2: Select Your Face</p>
        <div class="faces"></div>
      </div>

      <section class="result">
        <p class="lead">Step 3: Cooked!</p>
      </section>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="/js/vendor/getUserMedia.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>