@import "bourbon"

section
  text-align: center
  display: none

  &.intro
    display: block

  &.face-selector
    .faces
      .face
        display: inline-block
        background-repeat: no-repeat
        background-color: #eee
        margin: 10px 20px

  &.loading
    p
      margin-bottom: 60px

    img
      +animation(spin 3s linear infinite)

section.pick-webcam
  .wrapper
    position: relative

    .helper
      position: absolute
      left: 0
      right: 0
      top: 50%
      margin-top: -25px
      z-index: 5
    
    .frame
      position: relative
      z-index: 10

#picker
  width: 791px
  height: 500px
  border: none
  margin: 0 auto
  display: block

+keyframes(spin)
  0%
    +transform(rotate(0deg))

  100%
    +transform(rotate(360deg))