<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Tefal Pancake Selfie</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600,600italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/vendor/bootstrap.css">
    <link rel="stylesheet" href="/css/app.css">

    <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>

  <body>
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <!-- HEADER -->
    <div class="navbar">

      <div class="container">

        <div class="navbar-header">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/" title="Home">
            <img class="img-responsive" src="img/logo.png" alt="Tefal Pancake Selfie">
          </a>

        </div>

        <div class="navbar-collapse collapse">

          <ul class="nav navbar-nav main-nav">
            <li class="active"><a href="Gallery.html">View gallery</a></li>
            <li><a href="entry-step-1.html">Enter now</a></li>
          </ul>

          <ul class="nav navbar-nav social-links">
            <li><a href="#" rel="nofollow" target="_blank" class="ir facebook" title="Follow us on Facebook">Facebook</a></li>
            <li><a href="#" rel="nofollow" target="_blank" class="ir twitter" title="Follow us on Twitter">Twitter</a></li>
          </ul>

        </div><!--/.navbar-collapse -->

      </div>

    </div>

    <!-- GREY ROW -->
    <div class="bg-grey">
      <div class="container text-center text-white bg-flour">

        <div class="row">
          <h1 class="imgs-header">
            <img src="img/page-title-left.png" alt=""> 
            Be the face of Pancake Day! 
            <img src="img/page-title-right.png" alt="">
          </h1>
        </div>

        <!-- STEP COUNTER -->
        <p class="steps-counter visible-xs"><strong>Step 1 of 3</strong> - Upload your image</p>
        <div class="row">
          <div class="col-lg-8 col-lg-push-2 hidden-xs">
            <ul class="unstyled steps-list clearfix">
              <li class="selected"><span>1. Upload your image</span></li>
              <li class="mid-step"><span>2. Choose a pancake</span></li>
              <li><span>3. Get cookin!</span></li>
            </ul>
          </div>
        </div>

        <%= erb :app %>
      </div> <!-- /container -->
    </div>

    <!-- FOOTER -->
    <div class="site-footer">

      <footer class="container clearfix">

        <p>&copy; Copyright Tefal 2014 <span>|</span> <a href="#">Terms &amp; Conditions</a> <span>|</span> <a href="#">Privacy Policy</a> <span>|</span> <a href="#">Contact us</a></p>

        <div>
          Addthis widget
        </div>

      </footer> <!-- /container -->

    </div>

    <script>
    var Pancake = {
      Config: {
        facebookAppId: '685230378194888'
      }
    }
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.2/jquery.fileupload.js"></script>
    <script src="//connect.facebook.net/en_GB/all.js"></script>
    <script src="/js/vendor/getUserMedia.min.js"></script>
    <script src="/js/app.js"></script>

    <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src='//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
